<div id="intro" class="intro-wrapper">
  <h1>WE’RE A MARKETING AGENCY OBSESSED WITH FUELLING AMBITIOUS BRAND GROWTH USING OUR MIX OF INTEGRATED SERVICES</h1>
</div>
<div id='about' class="about-wrapper">
  <div class="about-container">
    <h1>About</h1>
    <p>We’re here to answer a simple question:</p>
    <h2>Can you get the service of a large agency without the cost to match?</h2>
    <p>The investment of time is generally what leads to the increase in fees. However, with our background in: both small and large agencies and tech innovation, we’re uniquely suited to address this issue.</p>
    <p>We’ve built technology do the repetitive stuff, while our team of professionals work to understand your business and provide the consultancy to help you get where you want to be.</p>
  </div>
</div>
